//font
// $font-family: "Sarabun", sans-serif !important;
$font-family: "Segoe UI",
"SegoeuiPc",
"San Francisco",
"Helvetica Neue",
"Helvetica",
"Lucida Grande",
"Roboto",
"Ubuntu",
"Tahoma",
Microsoft Sans Serif,
Tahoma,
Arial,
sans-serif;

//color
$primary-color  : #2A3F54;
$secondary-color: #ff9900;

$primary-color-text: #000000;
$light-color-text  : #8e99ab;

$error-color: #e46a76;

$margin-vertical-small : 12px;
$margin-vertical-medium: 24px;
$margin-vertical-large : 30px;

$margin-hozrizontal: 30px;

$padding-horizontal-small : 12px;
$padding-horizontal-medium: 16px;
$padding-horizontal-large : 30px;

$padding-vertical-small : 12px;
$padding-vertical-medium: 24px;

$width-mobile : 501px;
$height-mobile: 401px;

$selected-color: green;
$unselected-color: gray;