@import "../../assets/scss/variable-scss.scss";

$nav_padding-left     : 29px;
$nav-margin-left-right: 8px;
$nav_padding-left-logo: 28px;
$nav_color-icon       : #afbacc;
$nav_color-icon-hover : $primary-color;

.navleft_menu {

    box-shadow: 1px 0 0 0 #e7e8f2 !important;
    background: $primary-color !important;

    //common
    & li {
        transition: none;
    }

    & .ant-menu-item:active,
    .ant-menu-submenu-title:active {
        background: #f5f7fa;
    }

    //logo
    &>li[class~="ant-menu-item"]:first-child {
        &::after {
            content: none;
        }
    }

    //menu cấp 1
    &>li[class~="ant-menu-item"]:not(:first-child) {
        // margin-left: $nav-margin-left-right;
        // margin-right: $nav-margin-left-right;
        border-radius: 6px;

        &>i {
            color            : $nav_color-icon;
            // line-height   : initial;
            font-size        : 20px;
            // vertical-align: text-bottom;
        }

        &:hover {
            &>i {
                color: $nav_color-icon-hover;
            }
        }
    }

    //menu cấp 2
    &>li[class~="ant-menu-submenu"] {
        &:not(:last-child)>div {
            border-radius: 6px;

            &>span>i {
                color            : $nav_color-icon;
                // line-height: initial;
                font-size        : 20px;
                // vertical-align: text-bottom;
            }

            &:hover {
                &>span>i {
                    color: $nav_color-icon-hover !important;
                }
            }
        }
    }

    &>li[class~="ant-menu-submenu-vertical"] {
        &>div>span>i {
            font-size  : 20px !important;
            line-height: 27px !important;
        }
    }

    @media (max-width: $width-mobile),
    (max-height: $height-mobile) {
        // width: 276px;
    }
}

.navleft_menu--collapse {
    & li.ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected:not(:first-child) {
        transition : none;
        border-left: 4px solid $light-color-text;
    }

    & li.ant-menu-item.ant-menu-item-selected:not(:first-child) {
        transition : none;
        border-left: 4px solid $light-color-text;
    }
}

.navleft_menu_sub {
    &>ul {
        background: $primary-color !important;
    }
}

.navleft_menu_sub_collapse {
    &>ul {
        background: $primary-color !important;
    }
}